<!doctype html>
<html ng-app="nameApp">
<head>
    <title>Angular Practice</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script>
        var nameApp = angular.module('nameApp', []);
        nameApp.controller('NameCtrl', 
        function ($scope){
            $scope.firstName = 'Frank';
            
            
            $scope.$watch('lastName', function(newValue, oldValue){
                console.log('new value is '+ newValue);
            });
            setTimeout(function(){
                $scope.lastName = 'Veloz';
                $scope.$apply();
            },3000);
            
        });
    </script> 
</head>
<body ng-controller="NameCtrl">
    
    Name: <input ng-model="firstName" type="text" >
    <br>
    Last Name: <input ng-model="lastName" type="text" >
    <br>
   
    Hello {{firstName}} {{lastName}}!
    
    <script>
        
    </script>
</body>
</html>